<div class="main__container__wrapper">
	<h3 class="articles__title"><span class="title__marker">ADMIN</span></h3>
	<p>
		<%= link_to 'ADD_ARTICLE' , new_article_path, class: "admin__links" %>
	</p>
	<p>
		<%= link_to 'UPDATE_USER',  edit_user_registration_path(current_user), class: "admin__links" %>
	</p>
	<div class="admin">
		<h4>ALL ARTICLE</h4>
		<h5>全<%= Article.all.count %>件</h5>
		<table class="table">
			<thead>
				<tr>
					<th>Created-at</th>
					<th>Title</th>
					<th>Comments</th>
					<th>Published?</th>
					<th></th>
					<th>Edit-Category</th>
				</tr>
			</thead>
			<tbody class="admin__article">
				<% @articles.each do |article| %>
				<tr>
					<td><%= article.created_at.strftime("%Y-%m-%d") %></td>
					<td><%= link_to article.title, edit_article_path(article) %></td>
					<td><%= article.comments.count %>件</td>
					<td>
						<%= article.status %>
					</td>
				    <td><%= link_to "Destroy", article_path(article), method: :delete %></td>
				    <td><%= link_to article.category.name, edit_category_path(article.category) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<%= paginate @articles, class: "pagination paginate" %>
	</div>
</div>