<div class="main__container__wrapper">
	<div class="articles">
		<% @articles.where(created_at: "2019-09%").each do |article| %>
		    <div class="articles__box">
				<%= link_to article_path(article), class: "subTitle" do %>
					<p class="mainbar__title"><span class="mainbar__title__marker"><%= article.title %></span></p>
					<p class="mainbar__meta"><%= article.category.name %></p>
					<p class="mainbar__meta">コメント<%= article.comments.count %>件</p>
					<p class="mainbar__meta"><%= article.created_at.strftime("%Y-%m-%d") %></p>
				<% end %>
		    </div>
		<% end %>
	</div>
</div>

<!-- 月別アーカイブ書こうとしてる、rubyの構文わからなくて詰んでる -->