<% set_meta_tags title: @article.title, description: @article.description, og: { title: @article.title, type: 'article' } %>
<div class="main__container__flex">
	<div class="mainbar">
		<section class="mainbar__article">
			<h4 class="mainbar__title"><span class="mainbar__title__marker"><%= @article.title %></span></h4>
			<p class="mainbar__meta"><%= link_to @article.category.name, category_path(@article.category) %></p>
			<p class="mainbar__meta">
				<%= link_to '#comments_area' do %>
					Comments <%= @article.comments.count %>件
			    <% end %>
			</p>
			<p class="mainbar__meta"><%= @article.created_at.strftime("%Y-%m-%d") %></p>
			<%= @article.text %>
		</section>
		<div class="comment">
			<% if flash[:success] %>
			    <div class="flash">
			    	<%= flash[:success] %>
			    </div>
			<% end %>
		    <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
		    <h4 class="comment__head">コメントはこちらから</h4>
		    <div>
			    <%= render partial: 'comments/form', locals: { comment: @comment, article: @article } %>
		    </div>
		    <h4 class="comment__head">コメント一覧</h4>
		    <div id="comments_area">
		      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
		      <%= render partial: 'comments/index', locals: { comments: @comments } %>
		    </div>
		</div>
		<%= link_to 'TOP', root_path , class: "mainbar__link"%>
	</div>
	<div class="sidebar">
		<div class="sidebar__wrapper">
			<div class="sidebar__content">
				<%= link_to 'https://hagarihayato.github.io/jsPortFolio/dest/' do%>
					<div class="sidebar__content__link">
					    <div class="author_pict"></div>
					    <p>葉狩勇人</p>
					</div>
					<div class="intro">
						<p class="intro__text">
							高校卒業後 ▶
							辻調理師専門学校(調理師免許取得) ▶
							学費を返すため陸上自衛隊5年間勤務 ▶
							専修大学会計学科にスカラシップ特待生として
							現在在学中...<br>
							個人ではjavascript(ES6),React.js<br>
							インターン先でRuby,Ruby on Rails<br>
							1994年生まれ。北海道苫小牧市育ち
					    </p>
					    <%= link_to '>>詳細ページ', about_path %>
					</div>
				<% end %>
			</div>
		</div>
		<div class="sidebar__wrapper">
			<div class="sidebar__content">
				<h5>カテゴリー</h5>
				<div class="sidebar__content__categories">
					<% Category.all.each do |category| %>
					    <%= link_to category_path(category), class: "link_to" do %>
						    <p class="sidebar__content__categories__links"><%= category.name %> (<%= category.articles.count %>)</p>
					    <% end %>
					<% end %>
				</div>
			</div>
		</div>
		<div class="sidebar__sticky">
			<div class="sidebar__content">
				<div class="sidebar__content__items__1">
					<h5>目次</h5>
					<div class="index">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>