<div class="main__container__flex">
	<div class="mainbar">
		<h4 class="mainbar__title"><%= @article.title %></h4>
		<p class="mainbar__meta"><%= link_to @article.category.name, category_path(@article.category) %></p>
		<p class="mainbar__meta"><%= @article.created_at.strftime("%Y-%m-%d") %></p>
		<%= @article.text %>
		<%= link_to 'TOP', root_path %>
	</div>
	<%= render 'articles/sidebar' %>
</div>