<div class="main__container__wrapper">
	<h3 class="articles__title"><span class="title__marker">CATEGORY</span></h3>
	<div class="category">
		<div class="category__list">
			    <table class="table">
			    	<thead>
			    		<tr>
			    			<th>Category_Name</th>
			    			<th>Category_Status</th>
			    			<th></th>
			    		</tr>
			    	</thead>
			    	<tbody>
						<% @categories.each do |category| %>
			    		<tr>
			    			<td>
							    <%= link_to category.name, edit_category_path(category) %>
			    			</td>
			    			<td>
			    				<%= category.category_status %>
			    			</td>
			    			<td>
			    				<%= link_to 'destroy', category_path(category), method: :delete %>
			    			</td>
			    		</tr>
						<% end %>
			    	</tbody>
			    </table>
		</div>
		<div class="category__add">
			<h3>ADD CATEGORY</h3>
			<%= form_with model: @addCategory, local: true do |f| %>
			    <p>
				    <%= f.label :name ,'Category_Name'%>
				    <%= f.text_field :name %>
			    </p>
			    <p>
				    <%= f.label :category_status ,'Category_status'%>
				    <%= f.select :category_status, Category.category_statuses.keys, class: 'dropdown'%>
			    </p>
			    <%= f.submit %>
			<% end %>
		</div>
	</div>
</div>





